@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap");

$colorA: #f09;
$colorB: rgb(0, 217, 255);
$colorC: rgb(204, 0, 255);
$colorD: rgb(255, 217, 0);
$colorE: rgb(21, 255, 0);

@mixin neonTextStyle($color: #f09) {
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px $color,
    0 0 80px $color, 0 0 90px $color, 0 0 100px $color, 0 0 150px $color,
    0 0 15px $color, 0 0 15px $color, 0 0 15px $color, 0 0 15px $color;
}

@mixin neonBorderStyle($color: #f09) {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem $color,
    0 0 0.8rem $color, 0 0 2.8rem $color, inset 0 0 1.3rem $color;
}

.join-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  .join-title {
    left: 0.5;
    margin-top: 20px;
    width: 60vh;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: visible;

    border-color: #fff;
    border-style: solid;
    border-radius: 2rem;
    padding: 0.4em;

    font-family: "Mrs Saint Delafield", cursive;
    font-size: 60px;
    color: #fff;
    transform: skew(-10deg);
    @include neonBorderStyle($color: $colorB);
    .cine {
      -webkit-transform: rotate(350deg);
      -moz-transform: rotate(350deg);
      -ms-transform: rotate(350deg);
      -o-transform: rotate(350deg);
      transform: rotate(350deg);
      font-family: inherit;
      font-size: 85px;
      overflow: visible;
      @include neonTextStyle($color: $colorA);
    }
    .nights {
      -webkit-transform: rotate(350deg);
      -moz-transform: rotate(350deg);
      -ms-transform: rotate(350deg);
      -o-transform: rotate(350deg);
      transform: rotate(350deg);
      font-family: inherit;
      overflow: visible;
      @include neonTextStyle($color: $colorC);
    }
  }
  .join-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(42, 42, 42);
    border-radius: 20px;
    height: 400px;
    width: 400px;
    color: #fff;

    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-color: #fff;
    border-style: solid;
    border-radius: 2rem;
    padding: 0.4em;

    @include neonBorderStyle($color: $colorA);

    span {
      text-align: center;
      font-size: 70px;
      overflow: visible;
      @include neonTextStyle($color: $colorC);
      -webkit-transform: rotate(350deg);
      -moz-transform: rotate(350deg);
      -ms-transform: rotate(350deg);
      -o-transform: rotate(350deg);
      transform: rotate(350deg);
      font-family: "Mrs Saint Delafield", cursive;
      width: 50%;
      margin-bottom: 30px;
    }

    input {
      width: 200px;
      height: 20px;
      margin-bottom: 30px;
    }

    button {
      width: 200px;
      margin-bottom: 30px;
      height: 100px;
      color: whitesmoke;
      font-family: "Mrs Saint Delafield", cursive;
      background-color: inherit;

      border: none;
      font-size: 35px;
      font-weight: 500;
      cursor: pointer;
      @include neonTextStyle($color: $colorD);

      transition: all 400ms ease;

      &:hover {
        @include neonTextStyle($color: $colorB);
      }
    }
  }
}
