.chat-message {
  background-color: rgb(158, 0, 221);
  width: 90%;
  color: white;
  margin-top: 10px;
  border-radius: 15px;
  padding: 5px;

  display: flex;
  flex-direction: row;

  .name-div {
    min-width: 50px;
    margin-right: 15px;
  }
  .message-div {
  }
}
